# Node specific
node_modules/
npm-debug.log

# Backend environment variables
backend/.env

# Frontend .env (if you have one later)
frontend/.env.local

# Other potential files/folders you might want to exclude
.DS_Store
